.container
	.row
		.header.span12
			%h1 The Mad HatterBot

		.span12
			%table
				%thead
					%tr
						%th
							Seat
						%th
							Student
					-@seats.each do |s|
						%tr
							%td= s.name
							%td= s.student.name if s.student.present?

		.span12
			= link_to "Change Places!", change_places_seats_path, :class => 'btn btn-primary btn-large'
		