.container
  - if false
    .row
      .header.span12
        %h1 The Mad HatterBot

  .row
    .classroom.span12
      .wall
      .blackboard.sprite
      .professor.sprite
      - @seats.group_by(&:row).each do |i, row|
        .classroom-row
          - row.each_slice(2) do |desk|
            .seat-pair
              .desk.sprite
              - desk.each do |s|
                .seat.sprite{:column => s.column, :row => s.row}
      %td= s.student.name if s.student.present?

    %footer.span12
      = link_to "Change Places!", change_places_seats_path, :class => 'btn btn-primary btn-large'
